* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
}

img{
    max-width: 100%
}

.navbar{
width: 100%;
height: 70px;
background: #FFFFFF;
box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);

}

.airbnb-logo{
position: absolute;
/* width: 82.02px; */
height: 25.35px;
left: 30px;
top: 22px;
}

.photo-grid{
    padding: 26px 77px;
}

.hero-title{

width: 347px;
height: 40px;


font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 2.25em;
line-height: 110%;
color: #000000;
}

.hero-info{
    padding: 16px 194px 16px 36px;
}

.hero-p{

width: 320px;
height: 56px;


font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 1em;
line-height: 110%;

color: #222222;
}